{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnitRun</title>
    <link rel='stylesheet' href="{% static 'css/StyleLiveApril.css' %}">
</head>

<body style="background-color:#121f32;">

    <!-- Навигационная панель -->
    <header class="navbar">
        <nav>
            <button class="icon">
                <a href="{% url 'home' %}">UnitRun</a>
            </button>
            <a href="{% url 'profile' %}"><button class="Profile">Профиль</button></a>
            <a href="{% url 'home' %}"><button class="Case">Лудка</button></a>
            <a href="{% url 'tapalka' %}"><button class="Click">Тапалка</button></a>
        </nav>
    </header>
    <!-- Картинки -->
    <div class='imag'>
        <img class='Ris' width="120px" height="120px" src="{% static 'images\Sprites\LiveAprilCase\Слой 9.png' %}">
        <p class='RisWords'>Рисовая <br> Шавуха <br>(Обычный)</p>
        <img class='Latte' width="170px" height="170px"
            src="{% static 'images\Sprites\LiveAprilCase\photo_2024-04-25_20-.png' %}">
        <p class='LatteWords'>Латенно <br>(Редкий)</p>
        <img class='Vaf' width="120px" height="120px"
            src="{% static 'images\Sprites\LiveAprilCase\Mask_Group-2.png' %}">
        <p class='VafWords'>Вафелька <br>(Эпический)</p>
        <img class='Oni' width="120px" height="120px" src="{% static 'images\Sprites\LiveAprilCase\Слой 2.png' %}">
        <p class='OniWords'>Жаренный<br>Онигири <br>(Эпический)</p>
        <img class='Oni1' width="120px" height="120px" src="{% static 'images\Sprites\LiveAprilCase\Oni.png' %}">
        <p class='OniWords1'>Онигири <br>(Легендарный)</p>
        <img class='Enot' width="120px" height="120px" src="{% static 'images\Sprites\LiveAprilCase\image-02.png' %}">
        <p class='EnotWords'>Апрельчик <br>(Легендарный)</p>
        <button class='twist3' id="spend" onclick="location.href =''">200</button>
    </div>
    <img class='icon1' width="80px" height="80px" src="{% static 'images/unit.svg' %}" alt="UnitRun">

</body>

</html>