<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnitRun</title>
    <link rel='stylesheet' href='StylePS2Case.css'>
</head>

<body style="background-color:#121f32;">

    <!-- Навигационная панель -->
    <header class="navbar">
        <nav>
            <button class="icon">
                <a href="file:///D:/Row/UnitRun/Sait.html">UnitRun</a>
            </button>
            <button class="Profile" onclick="location.href = 'file:///D:/Row/UnitRun/Profile.html'">Профиль</button>
            <button class="Case" onclick="location.href ='file:///D:/Row/UnitRun/Sait.html'">Лудка</button>
            <button class="Click" onclick="location.href ='file:///D:/Row/UnitRun/Tapalka.html'">Тапалка</button>
        </nav>
    </header>
    <div class='Epik'>
        <img class='Rustam' width="120px" height="120px" src='C:\Users\vadik\Desktop\Спрайты\NormalCase\Рустам.png'>
        <p class='RustamWords'>Рустам <br> Клызбаев <br>(Эпический)</p>
        <img class='Maks' width="120px" height="120px"
            src='C:\Users\vadik\Desktop\Спрайты\NormalCase\Максим Инванов.png'>
        <p class='MaksWords'>Максим <br> Иванов <br>(Эпический)</p>
        <img class='Pasha' width="120px" height="120px"
            src='C:\Users\vadik\Desktop\Спрайты\NormalCase\Павел Поторочин.png'>
        <p class='PashaWords'>Пашулик <br> Поторочин <br>(Эпический)</p>
        <img class='Dima' width="120px" height="120px"
            src='C:\Users\vadik\Desktop\Спрайты\NormalCase\Дмитрий Чащин.png'>
        <p class='DimaWords'>Дима <br> Чащин <br>(Легендарный)</p>
        <img class='Artem' width="120px" height="120px"
            src='C:\Users\vadik\Desktop\Спрайты\NormalCase\Слабодчиков Артем.png'>
        <p class='ArtemWords'>Артём <br> Слабодчиков <br>(Легендарный)</p>
        <img class='Egor' width="120px" height="120px"
            src='C:\Users\vadik\Desktop\Спрайты\NormalCase\Егор Михайлов.png'>
        <p class='EgorWords'>Егор <br> Михайлов <br>(Легендарный)</p>
        <img class='Nik' width="150px" height="120px"
            src='C:\Users\vadik\Desktop\Спрайты\NormalCase\Сулейманов Никита.png'>
        <p class='NikWords'>Никита <br> Сулейманов <br>(Легендарный)</p>
        <button class='twist2' onclick="location.href =''">Крутить</button>
    </div>
    <img class='icon1' width="80px" height="80px" src="C:\Users\vadik\Downloads\TelegramDesktop1\Unit.svg"
        alt="UnitRun">
    <script src="Animation.js"></script>

</body>

</html>