{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnitRun</title>
    <link rel="stylesheet" href="{% static 'css/StyleProfile.css' %}"> <!-- Подключаем внешний CSS файл -->
</head>

<body style="background-color:#121f32;">

    <!-- Навигационная панель -->
    <header class="navbar">
        <nav>
            <button class="icon">
                <a href="{% url 'home' %}">UnitRun</a>
            </button>
            <a href="{% url 'profile' %}"><button class="Profile">Профиль</button></a>
            <a href="{% url 'home' %}"><button class="Case">Лудка</button></a>
            <a href="{% url 'tapalka' %}"><button class="Click">Тапалка</button></a>
            <a href="{% url 'logout' %}"><button class="Exit">Выход</button></a>
        </nav>
    </header>
    <img class='icon1' width="80px" height="80px" src="{% static 'images/unit.svg' %}">
    <div class='conteiner profile'>
        <h1>
            Профиль
        </h1>
    </div>

    <div class='avatar'>
        <img src=''>
    </div>
    <div>
        <h2 class="Username">{{username}}</h2>
    </div>
    <div class='h22' id="Account">
        <h2>
            Количество Юкоинов
        </h2>
    </div>

    <div class='h3'>
        <strong>{{ coins }}</strong>
    </div>
</body>

</html>